* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header{
  background-color: rgb(17, 0, 255);
  display: flex;
  justify-content: center;
  align-items: center; }
  .header__img {
    margin-left: 1rem; }
  .header__ul {
    display: flex;
    list-style: none; }
    .header__ul--active {
      font-weight: 900; }
    .header__ul li {
      padding: 1rem; }
      .header__ul li a {
        color: black;
        text-decoration: none; }
